@media screen and (max-width: 1439px){
    main{
        .big-image{
            width: 640px;
            height: 700px;
            object-fit: cover;
        }
    }
    .main{
        &-textbox{
            width: 640px;
            height: 700px;
        }
    }
    .home-section{
        justify-content: center;
    }
    .about-section{
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1390px){
    .main{
        &-textbox{
            width: 600px;
            height: 700px;
        }
    }
    main{
        .big-image{
            width: 600px;
            height: 700px;
        }
    }
}

@media screen and (max-width: 1200px){
    .main{
        &-textbox{
            width: 560px;
            height: 700px;
        }
    }
    main{
        .big-image{
            width: 560px;
            height: 700px;
        }
    }
    .carousel-wrapper_item{
        padding-bottom: 40px;
    }
    .card{
        &-image{
            display: none;
        }
        &-wrappertext{
            width: 100%;
            padding-bottom: 50px;
        }
    }
    .hints{
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        &-card{
            width: 80%;
            margin-right: 0px;
        }
        &-card:last-child{
            margin-right: 0px;
            margin-top: 60px;
        }
        &-title{
            height: auto;
        }
    }
}

@media screen and (max-width: 1137px){
    .main{
        &-screen{
            flex-direction: column;
            align-items: center;
        }
        &-textbox{
            width: 100%;
            text-align: center;
            height: 700px;
            justify-content: center;
        }
    }
    main{
        .big-image{
            width: 100%;
            height: 700px;
            justify-content: center;
        }
    }
    .second-screen{
        flex-direction: column;
    }
}

@media screen and (max-width: 990px){
    .promotional{
        margin-top: 80px;
        height: 100%;
        &-buttons{
            padding: 50px 0px 50px 0px;
            &_black{
                margin-right: 20px;
            }
        }
        &-content{
            justify-content: center;
            align-items: center;
            width: 80%;
            &_title{
                padding-top: 40px;
            }
        }
    }
}


@media screen and (max-width: 817px){
    .main{
        &-textbox{
            height: 700px;
        }
    }
    main{
        .big-image{
            height: 700px;
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        display: flex;
        justify-content: flex-end;
    }
    .menu-btn {
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .menu-btn span{
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $orange;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2){
        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3){
        top: calc(50% + 5px);
    }

    .menu{
        img{
            padding: 0;
        }
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $grey;
        transform: translateX(-100%);
        transition: all 0.5s;
        nav{
            ul{
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            li{
                list-style-type: none;
                text-decoration: none;
                padding: 15px;
            }
        }
    }

    .menu.active{
     transform: translateX(0);   
    }

    .menu-btn.active span:first-of-type{
        transform: translateX(100%);
    }

    .menu-btn.active span:nth-of-type(2){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .button-header{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .carousel{
        &-wrapper{
            flex-direction: column;
            &_item{
                padding-right: 0px;
                align-items: center;
                justify-content: center;
                img{
                    width: 75%;
                    height: 50vh;
                    object-fit: cover;
                }
            }
        }
        &-desc{
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 529px){
    .promotional{
        &-buttons{
            text-align: center;
            &_black{
                margin-bottom: 20px;
                margin-right: 0px;
            }
        }
    }
    .card{
        &-wrappertext{
            width: 100%;
            padding-left: 30px;
        }
        &-text{
            font-size: 30px;
        }
    }
} 
    

@media screen and (max-width: 425px) {
    .carousel{
        &-desc{
            font-size: 14px;
        }
    }
    .textbox{
        &_descr{
            font-size: 16px;
            margin: 0 10px;
        }
    }
    .promotional{
        &-content{
            &_title{
                font-size: 28px;
            }
            &_desc{
                font-size: 28px;
            }
        }
    }
    .footer{
        margin-top: 50px;
        &-menu{
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0 auto;
            align-items: center;
            padding: 0;
            li{
                padding-bottom: 10px;
                text-align: center;
            }
        }
    }
}
